<html>
<head>
    <meta charset="utf-8">
    <title>Weather</title>
    <!-- Підключення bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="col-md-4 mt-2">
        <form>
            <div class="input-group">
                <input type="text" id="search-input" class="form-control rounded-0" placeholder="Enter a city name">
                <div class="input-group-append">
                    <button type="button" onclick="Find()" id="search-btn" class="btn btn-primary rounded-0">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-4 mt-2">
            <div class="list-group mb-4">
                <a href="/weather/Zhytomyr" class="list-group-item list-group-item-action">Zhytomyr</a>
                <a href="/weather/Kyiv" class="list-group-item list-group-item-action">Kyiv</a>
                <a href="/weather/Odessa" class="list-group-item list-group-item-action">Odessa</a>
                <a href="/weather/Uman" class="list-group-item list-group-item-action">Uman</a>
            </div>
        </div>
        <div class="col-md-8 mt-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="card-title mb-4">Weather in {{city}}</h1>
                    <img src="http://openweathermap.org/img/wn/{{weather.weather.0.icon}}.png" height="100">
                    <p class="card-text mb-2">Temperature: {{weather.main.temp}} &deg;C</p>
                    <p class="card-text mb-2">Feels like: {{weather.main.feels_like}} &deg;C</p>
                    <p class="card-text mb-2">Humidity: {{weather.main.humidity}}%</p>
                    <p class="card-text mb-2">Wind speed: {{weather.wind.speed}} m/s</p>
                    <p class="card-text mb-2">Wind direction: {{weather.wind.deg}}&deg;</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let search1 = document.getElementById('search-btn');
    async function Find() {
        let city = document.getElementById('search-input').value;
        let url = '/weather/' + city;
            try {
                let response = await fetch(`https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=fb209d39eee8e0767141bac8ec378eaa`);
                if (!response.ok) {
                    throw new Error(response.statusText);
                }
                window.location.href = url;
            } catch (error) {
                alert(`Error: ${error.message}`);
            }
    };
</script>
</body>
</html>